$nav-height: 75px;
$section-height: 100vh;
$center-gap: 50px;
$article-mb: 30px;
$elips-w: 5px;
$elips-h: 5px;
$human-h: 450px;
$human-w: 600px;
$logo-title: 580px;
$logo-section: 525px;

$nav-bg: #333333;
$nav-btn-bg: #282828;

$primary: #195270;
$secondary: #0d3640;
$tint: #178bc1;
